{% extends "layout.html" %}
{% block title %} Test {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}
<h1>ChiTown Innovate - Expo Event Routing</h1>
    <form action="/" method="post">
        <button type="submit">Generate Map</button>
    </form>
    {% if map_html %}
        <div style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
            <h2 style="color: #2A9D8F;">Your Journey to Innovation</h2>
            <p>Welcome to <strong>ChiTech Innovate</strong>, the hub of technological breakthroughs in Chicago. As you navigate through the bustling city, let us guide you to the heart of innovation.</p>
            <p>It's currently <strong>{{ random_time }}</strong> on <strong>{{ random_date }}</strong>. You are located at <em>{{ random_coords }}</em>.</p>
            <p>The next big opportunity to connect with like-minded innovators is at the "<strong>{{ closest_event_name }}</strong>" event. Here’s a brief about what awaits you:</p>
            <blockquote style="background-color: #E9ECEF; padding: 10px; border-left: 3px solid #2A9D8F;">
                <p><strong>Event Name:</strong> {{ closest_event_name }}</p>
                <p><strong>Description:</strong> {{ closest_event_desc }}</p>
                <p><strong>Time:</strong> {{ closest_event_time }}</p>
                <p><strong>Date:</strong> {{ closest_event_date }}</p>
                <p><strong>Location:</strong> {{ closest_event_location }}</p>
            </blockquote>
            <p>Need directions? Below is the route to get you there:</p>
            <ol style="padding-left: 20px;">
                {% for direction in directions_html %}
                    <li>{{ direction|safe }}</li>
                {% endfor %}
            </ol>
        </div>
        {% include "map.html" %}?t={{ timestamp }}
        
    {% endif %}
{% endblock %}